.search {
    position: absolute;
    top: 35px;
    left: 25%;
    width: 100vw;
}

.search > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 320px;
    font-size: 15px;
}

.search > input {
    width: 560px;
    padding: 10px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 355px;
    border: none;
  }
  
.search > input:focus {
    outline-width: 0;
}

.search > button {
    position: absolute;
    left: 0;
    top: 385px;
    text-transform: inherit !important;
    background-color: #ff7779;
    color: white;
    width: 560px;
  }

.search > button:hover {
    background-color: white;
    color: #ff7779;
}

/* .room__infoRight {
    border-top: double;
} */